/* ================= BACKGROUND ================= */

body.expressions-page {
  background: url("./background3.png") center center / cover no-repeat fixed;
  margin: 0;
  color: white;
}

/* ================= GLOBAL LAYOUT ================= */

.game-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-top: 10px;
}

/* ================= GAME CARD ================= */

.game-card {
  width: 420px;
  min-height: 400px;
  padding: 25px;
  margin: 10px auto;
  background: rgba(0,0,0,0.85);
  border-radius: 18px;

  text-align: center;
  box-shadow: 0 10px 40px rgba(0,0,0,0.6);

  height: auto;
}

/* ================= TITRE ================= */

.game-card h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

/* ================= HUD ================= */

.hud {
  display: flex;
  justify-content: space-between;

  margin-bottom: 15px;
  padding: 10px;

  background: rgba(0,0,0,0.7);
  border-radius: 10px;

  font-size: 14px;
}

/* ================= QUESTION ================= */

#question {
  margin: 15px 0;
  font-size: 18px;
}

/* ================= CHOICES ================= */

.choices {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0;
}

.choices button {
  padding: 10px;
  border: none;
  border-radius: 8px;

  background: #333;
  color: white;

  cursor: pointer;
  transition: 0.2s;
}

.choices button:hover {
  background: #555;
  transform: scale(1.03);
}

/* ================= FEEDBACK ================= */

#feedback-wrapper {
  margin-top: 1px;
  min-height: 0px;
}

#feedback {
  font-weight: bold;
}

/* ================= BUTTONS ================= */

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

/* ================= GLOBAL BUTTON STYLE ================= */

button {
  padding: 10px 14px;
  border: none;
  border-radius: 8px;

  background: #ff9800;
  color: white;

  font-weight: bold;
  cursor: pointer;

  transition: 0.2s;
}

button:hover {
  background: #ffb74d;
  transform: scale(1.05);
}

/* ================= IMAGE ZONE ================= */

.image-zone {
  width: 220px;
  display: flex;
  align-items: center;
}

#illustration {
  width: 100%;
  max-width: 220px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}
